.mostrarPaciente{

    margin-top: 35px;
    margin-left:200px;
}
span{
    color:#007BFF
}
#red{ /*span*/
    color: #dc3545;
}
.btnFichaNotificacao{

    color: #218838;
    border: none;
    background-color: #fff;
    margin-top: 5px;
    margin-left: 250px;
}
.btnFichaNotificacao:hover{

    background-color:#218838;
    color: #fff;
    border-radius: 5px;
    transition-duration:0.5s;
    
}
.btnFechar{
    border: none;
    background-color: #fff;
    color: gray;
    transform: translate(35% ,-60%);
    float: right;
}
.btnFechar:hover{
    color: #dc3545;
    border-radius: 5px;
    transition-duration: 0.2s;
}
.btnEditar{
    background-color: #fff;
    border: none;
}
.btnExcluir{
    background-color: #fff;
    border: none;
}
.containerInfo{
    display: flex;
    width: 720px;
}
#info2{
    margin-left: 150px;
}

/* FIM DA PARTE DE MOSTRAR PACIENTES*/

.containerPrincipal{

    margin-top: 15px;
    margin-left:200px;
}
.containerPrincipal img{

    width: 130px;
}
.input-group {

    position: absolute;
    left: 50%;
    top: 50%;
    margin-bottom: 30px;
    transform: translate(-50% , -60%);
    
}
#button-addonPesquisarNotificacao{

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;    
}
#button-addonListarNotificacao{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*.barraLateralMenu a{

    margin-left: 150px;
    line-height: 55px;

}*/
.legend{

    width:auto;
    font-style: italic;  
    
}
fieldset{

    width: 720px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50px;
}
/* FIM DA PARTE CONTAINER PRINCIPAL*/

/*INÍCIO DA LISTAGEM*/
.filtrar{
    margin-top: 35px;
    margin-left:290px;
}
.listagem{
    margin-top: 35px;
    margin-left:290px;
}

