body{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#destaque{

    color: black;
}
.pesquisa{

    border-bottom: solid;
    border-width: 0.5px;
    border-color: #E9E9E9;    
}
.pesquisa input{

    height: 35px;
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: solid;
    border-width: 1px;
    border-color: #E9E9E9;
    border-radius: 5px;
}
::-webkit-input-placeholder{
    text-align: center;
}
::-moz-input-placeholder{
    text-align: center;
}
/*=========================*/
.formulario{

    position: absolute;
    margin-top: 15px;
    left: 25%;
}
.form-group{

    width:600px;

}
.inputSus{

    position: absolute;
}
.inputSelectTipoExame{

    margin-left: 10px;
}
.inputTipoExame{

    margin-left: 10px;
}
/*========================*/
/*PARTE DOS BOTÕES*/
.salvar{

    left: 485px;
    
}
.cancelar{
 
    left: 25%;
    
}

.btnSC{/*MEXE COM OS BOTÕES SALVAR E CANCELAR AO MESMO TEMPO*/
    
    margin-top: 390px;
    width: 130px;
    height: 40px;
    position: absolute;
    font-style: italic;
}
/*=========================*/
/*BOTÕES DA LATERAL DIREITA*/
.btnLateral{

    border: none;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    margin-top: 40px;
    float: right;
    background-color:white;
    color: gray;
    font-style: italic;
}

/*FIM DA PARTE DOA BOTÕES*/
.crudLateral{

    position: absolute;
    border-left: solid;
    border-color: #E9E9E9;
    border-width: 0.5px;
    right: 0px;
    top: 200px;
    height: 350px;
    padding: 5px 24px;
}
/*================ 
PARTE ESQUERDA*/
.containerLateral{

    width: 300px;
    height: 1000px;
    top: 146px;
    position: absolute;
    border-right: solid;
    border-color: #E9E9E9;
    border-width: 0.5px;
}
