body{

    margin: 0;
}
#imagemBrasao{

    height: 90px;
    margin-left: 95px;
    margin-top: 10px;
}
.login{

    position: absolute;
    left: 50%;
    transform: translate(-50%,35%);
    background-color: #FFFFFF;
    height: 350px;
    width: 280px;
    border-radius: 80px 0px 80px 0px;
    border: solid;
    border-width: 0.5px;
    border-color: gray;
    /*box-shadow: 1px  4px 4px;*/
}
form{

    margin-left: 25px;
    margin-top: 10px;
}
#user{

    margin-left: 25px;
}
#pswd{

    margin-left: 25px;    
}
form input[type="text"],[type="password"],[type="submit"]{

   margin-left: 25px; 

}
form input[type="text"],[type="password"]{

    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    outline: none;

}

form button{

    border: none;
    width: 170px;
    height: 38px;
    border-radius: 38px;
    background-color:#754EF9;
    color: #FFFFFF;
    
}
form button:hover{

    background-color: #02f802;
}
.mensagem{
    text-align: center;
    color:rgb(240, 30, 30);
}
